<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../css/plans.css">
    <title>Planneje - Meus Planos</title>
</head>
<body>
    <header class="main-header">
        <div class="container">
        
            <nav>
                <ul class="ul-list">
                    <a href="#">Meus Planos</a>
                    <a href="#">Documentos</a>
                    <a href="#">Saúde</a>
                </ul>
                
                <div class="animation start-home"></div>
            </nav>
            
            <div class="logo">
                <a href="/index.html"><h1>Planneje</h1></a>
            </div>
        </div>

        <div class="container-user">
            <div class="user-img">

            </div>
            <div class="user-data">
                <p class="name">Nome: Tarsicio do Acordeon</p>
                <p class="CPF">CPF: 123.456.789-00</p>
                <p class="email">tarsicioDoArcode@gmail.com</p>
            </div>
        </div>
    </header>

    

    <main class="main">
        <div class="addTask">
            <button>+ Adicionar Tarefa</button>
        </div>

        <div class="list-To-Do">
            <div class="container-list">
                    <h2>Documento de Viagem</h2>
                    <div class="database">
                        <div class="add-data">
                            <input type="text" placeholder="Adicione um dado">
                        </div>
                        <div class="information">
                            <div class="block1">
                                <div class="block2"></div>
                            </div>
                            <p>Passaporte</p>
                        </div>
                    </div>
                </div>
            <div class="container-list">
                
                    <h2>Ficha Médica</h2>
                    <div class="database">
                        <div class="add-data">
                            <input type="text" placeholder="Adicione um dado">
                        </div>
                        <div class="information">
                            <div class="block1" style="background-color: #DFBD22;">
                                <div class="block2" style="background-color: #FFEB91;"></div>
                            </div>
                            <p>Medicação</p>
                        </div>
                    </div>
            </div>
            <div class="container-list">
                    <h2>Dados Pessoais</h2>
                    <div class="database">
                        <div class="add-data">
                            <input type="text" placeholder="Adicione um dado">
                        </div>
                        <div class="information">
                            <div class="block1" style="background-color: #01BD1A;">
                                <div class="block2" style="background-color: #77FF89;"></div>
                            </div>
                            <p>Telefone </p>
                        </div>
                    </div>
            </div>
        </div>
    </main>
</body>
</html>